.socialMediaIcon {
  height: 40px;
  width: 40px;
  margin-left: 7px;
  margin-right: 7px;
}

.glitterText {
  margin-left: 40px;
}

.textFieldSmall {
  max-width: 600px;
  text-align: left;
}

.textFieldLeft {
  max-width: 700px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.selfie {
  max-width: 300px;
  max-height: 300px;
}
